body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

ul{
    background: #333;
    margin: 0;
    list-style-type: none;
    text-align: right;
    padding: 2%;
    font-size: 20px;
}

li{
    display: inline;
    padding: 25px;
}

li a{
    text-decoration: none;
    line-height: 1.5rem;
    color: whitesmoke;
}

li a:hover{
    background: #443f3f;
    cursor: pointer;
    padding: 20px;
}